.detailTable{    
    height: 35vh;
    font-size: 120%;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(255, 136, 0), 0 0 0.2em rgb(255, 123, 0);
    justify-content: left;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px;
}

.tdRight{
    text-align: left;
}  

.tdLeft{
    text-align: left;
}