/* Containers */
.containerMain {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 100px;
}


.containerCategories {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  margin: 30px 0 0 0;
}

.containerCategories h4 {
  margin: 50px 0 5px 20px;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, min(min(100%, 33%)));
  transition: all 0.8s ease;
  min-width: 70%;
  margin: 90px 0 0 0;
}

/* General */
.currentCategory {
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  margin: 0 0 0px 30px;
}

.buttonCategorie {
  margin: 0 20px 20px 20px;
}

.buttonCategorieTodos {
  margin: 80px 20px 20px 20px;
}

.hide {
  display: none;
}

.inputPrice1 {
  max-width: 55px;
  min-height: 30px;
  border: 1px solid rgb(255, 196, 0);
  margin-left: 20px;
}

.inputPrice2 {
  max-width: 55px;
  min-height: 30px;
  border: 1px solid rgb(255, 196, 0);
  margin-left: 11px;
  margin-right: 10px;
}

.buttonPrice {
  cursor: pointer;
}

/* Loading */

.loader {
  width: 100px;
  height: 110px;
  border: 5px solid #ec9c9c;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  left: 45%;
  margin: 0 auto;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

/* Responsive */

@media only screen and (max-width: 900px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fill, min(min(100%, 33%)));
  }  
}

@media only screen and (max-width: 700px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fill, min(min(100%, 50%)));
  }  
  .buttonCategorie {
    width: 100px;
  }
}

@media only screen and (max-width: 400px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fill, min(min(100%, 100%)));
  }
  .buttonCategorie {
    width: 80px;
  }  
}