/* General*/
body {
    margin: 0;
    font-family: 'Mulish', cursive, sans-serif;
    /* font-family: 'Mulish', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Rubik Dirt', cursive;
    font-family: 'Share Tech Mono', monospace;  -webkit-font-smoothing: antialiased; */
  }
  
  .hide {
    display: none;
  }
  
  .textBig {
    font-size: 25px;
    color: black;
    text-align: center;
    display: none;
  }
  
  .textMedium {
    font-size: 20px;
    color: rgb(27, 27, 72);
    text-align: center;
  }
  
  .textSmall {
    font-size: 15px;
    color: black;
    text-align: center;
    display: none;
  }
  
  .imgCenter {
    display: block;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #6e83bb;
    width: 95%;
    height: 220px;
  }
  
  .Link {
    text-decoration: none;
  }
  
  /* Cart */
  
  .buttonCart {
    cursor: pointer;
    margin: 5px 0 2px 5px;
  }
  
  .buttonCart:hover {
    color: rgb(40, 63, 167);
  }
  
  .buttonFavourites {
    cursor: pointer;
    margin: 5px 5px 0 0px;
    float: right;
  }
  
  .buttonFavourites:hover {
    color: red;
  }
  
  /* Button Load */
  
  .buttonLoad {
    background-color: rgb(10, 53, 118);
    margin: auto;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    transition: all 1s ease-out;
    justify-content: center;
    align-items: center;
  }
  
  .buttonLoad:hover {
    color: rgb(10, 53, 118);
    background-color: white;
    padding: 9px;
  }
  
  /* Card */
  
  .cardDarkTheme {
    display: block;
    border: 2px solid black;
    margin: 20px 30px 10px 0;
    transition: all 0.8s ease;
    background-color: rgba(255, 255, 255, 0.396);
  }
  
  .cardLightTheme {
    display: block;
    border: 2px solid black;
    margin: 20px 30px 10px 0;
    transition: all 0.8s ease;
    background-color: rgb(207, 207, 207);
  }
  
  .cardDarkTheme:hover .textBig {
    display: block;
  }
  
  .cardLightTheme:hover .textBig {
    display: block;
  }
  
  /* Alerta producto agregado */
  
  .notifySlideIn {
      animation-duration: 4s;
      animation-delay: -1s;
      animation-name: slidein;
      animation-direction: alternate;
      animation-fill-mode: forwards;
  }
  
  @keyframes slidein {
      0% {
          top: -100%;
      }
  
      40% {
          top: 90px;
      }
  
      60% {
          top: 90px;
      }
  
      100% {
          top: -100%;
      }
  }
  
  
  