/* General */

.hide {
  display: none;
}

/* Containers */

.containerCartItems {
  border: 1px solid #000000;
  border-radius: 3px;
  display: flex;
  height: 6.8rem;
  margin-bottom: 10px;
  background-color: white;
  color: black;
}

.containerLeft {
  border-right: 1px solid rgb(156, 156, 156);
  width: 30%;
}

.cartMiddle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50%;
}

.cartRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bolder;
  padding: 0;
  width: 30%;
}

.cartRight h2 {
  text-align: center;
}

/* Buttons */

.quantity button {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  height: 1.7rem;
  width: 1.7rem;
  margin-bottom: 2px;
}

.quantity input {
  font-size: 1.14rem;
  outline: 2px solid #000;
  background-color: white;
  color: black;
  outline-offset: -2px;
  text-align: center;
  width: 2rem;
  height: 1.7rem;
  margin-bottom: 2px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.buttonLess {
  margin-left: 15px;
}

.buttonAdd {
  margin-left: 0px;
}

.buttonDeleteItem {
  margin-bottom: 15px;
}

/* CartElements */

.quantity {
  display: flex;
  margin-bottom: 10px;
}

.imgCenter {
  width: 100%;
  height: 100px;
  border-radius: 20%;
  padding: 5px;
}

.textBig {
  font-size: 18px;
  width: 200px;
  padding-left: 15px;
}

.textMedium {
  font-size: 19px;
  margin-right: 5px;
}




