/* General*/
body {
  margin: 0;
  font-family: 'Mulish', cursive, sans-serif;
  /* font-family: 'Mulish', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Rubik Dirt', cursive;
  font-family: 'Share Tech Mono', monospace;  -webkit-font-smoothing: antialiased; */
}

.textBig {
  font-size: 25px;
  color: black;
  text-align: center;
}

.textMedium {
  font-size: 20px;
  color: rgb(27, 27, 72);
  text-align: center;
}

.textSmall {
  font-size: 15px;
  color: black;
  text-align: center;
  display: none;
}

.imgCenter {
  display: block;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #6e83bb;
  width: 95%;
  height: 220px;
}

.Link {
  text-decoration: none;
}

/* Button Load */

.buttonLoad {
  background-color: rgb(10, 53, 118);
  margin: auto;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  transition: all 1s ease-out;
  justify-content: center;
  align-items: center;
}

.buttonLoad:hover {
  color: rgb(10, 53, 118);
  background-color: white;
  padding: 9px;
}

/* Card */

.cardDarkTheme {
  display: block;
  border: 2px solid black;
  margin: 20px 30px 10px 0;
  transition: all 0.8s ease;
  background-color: white;
}

.cardLightTheme {
  display: block;
  border: 2px solid black;
  margin: 20px 30px 10px 0;
  transition: all 0.8s ease;
  background-color: rgb(207, 207, 207);
}

.cardDarkTheme:hover, .cardLightTheme:hover {
  box-shadow: 20px 20px 20px rgb(0, 0, 0);
  padding: 10px;  
  filter: contrast(120%);
}

.cardDarkTheme:hover .textSmall { 
  display: block;
}

.cardLightTheme:hover .textSmall { 
  display: block;
}


