/* General*/

body {
  margin: 0;
  font-family: 'Mulish', cursive, sans-serif;
  /* font-family: 'Mulish', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Rubik Dirt', cursive;
  font-family: 'Share Tech Mono', monospace;  -webkit-font-smoothing: antialiased; */
}

.hide {
  display: none;
}

.textBig {
  font-size: 25px;
  color: black;
  text-align: center;
  display: none;
}

.textMedium {
  font-size: 20px;
  color: black;
  text-align: center;
  font-weight: bolder;
}

.textSmall {
  font-size: 15px;
  color: black;
  text-align: center;
  display: none;
}

.imgCenter {
  display: block;
  margin-bottom: 2%;
  width: 100%;
  height: 220px;
  padding: 2px;
  border-radius: 15px;
}

.Link {
  text-decoration: none;
}

/* Buttons */

.buttonCart {
  cursor: pointer;
  margin: 3px 0 3px 5px;
}

.buttonCart:hover {
  color: rgb(40, 63, 167);
}

.buttonFavourites {
  cursor: pointer;
  margin: 5px 5px 0 0px;
  float: right;
}

.buttonFavourites:hover {
  color: red;
}

/* Card */

.cardDarkTheme .textMedium {
  color: white;
}

.cardDarkTheme {
  display: block;
  border-radius: 10px;
  margin: 20px 30px 10px 0;
  background-color: rgba(0, 0, 0, 0.18);
  min-height: 370px;
}

.cardLightTheme {
  display: block;
  border-radius: 10px;
  margin: 20px 30px 10px 0;
  background-color: rgb(251, 125, 0);
  min-height: 370px;
}

.cardDarkTheme:hover {
  -webkit-animation: shadowPopTrDark 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	animation: shadowPopTrDark 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.cardLightTheme:hover {
  -webkit-animation: shadowPopTr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	animation: shadowPopTr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes shadowPopTr {
  0% {
    -webkit-box-shadow: 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76);
            box-shadow: 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px rgb(255, 165, 76), 2px -2px rgb(255, 165, 76), 3px -3px rgb(255, 165, 76), 4px -4px rgb(255, 165, 76), 5px -5px rgb(255, 165, 76), 6px -6px rgb(255, 165, 76), 7px -7px rgb(255, 165, 76), 8px -8px rgb(255, 165, 76);
            box-shadow: 1px -1px rgb(255, 165, 76), 2px -2px rgb(255, 165, 76), 3px -3px rgb(255, 165, 76), 4px -4px rgb(255, 165, 76), 5px -5px rgb(255, 165, 76), 6px -6px rgb(255, 165, 76), 7px -7px rgb(255, 165, 76), 8px -8px rgb(255, 165, 76);
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadowPopTr {
  0% {
    -webkit-box-shadow: 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76);
            box-shadow: 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76), 0 0 rgb(255, 165, 76);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px rgb(255, 165, 76), 2px -2px rgb(255, 165, 76), 3px -3px rgb(255, 165, 76), 4px -4px rgb(255, 165, 76), 5px -5px rgb(255, 165, 76), 6px -6px rgb(255, 165, 76), 7px -7px rgb(255, 165, 76), 8px -8px rgb(255, 165, 76);
            box-shadow: 1px -1px rgb(255, 165, 76), 2px -2px rgb(255, 165, 76), 3px -3px rgb(255, 165, 76), 4px -4px rgb(255, 165, 76), 5px -5px rgb(255, 165, 76), 6px -6px rgb(255, 165, 76), 7px -7px rgb(255, 165, 76), 8px -8px rgb(255, 165, 76);
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}


@-webkit-keyframes shadowPopTrDark {
  0% {
    -webkit-box-shadow: 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602);
            box-shadow: 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px rgba(0, 0, 0, 0.602), 2px -2px rgba(0, 0, 0, 0.602), 3px -3px rgba(0, 0, 0, 0.602), 4px -4px rgba(0, 0, 0, 0.602), 5px -5px rgba(0, 0, 0, 0.602), 6px -6px rgba(0, 0, 0, 0.602), 7px -7px rgba(0, 0, 0, 0.602), 8px -8px rgba(0, 0, 0, 0.602);
            box-shadow: 1px -1px rgba(0, 0, 0, 0.602), 2px -2px rgba(0, 0, 0, 0.602), 3px -3px rgba(0, 0, 0, 0.602), 4px -4px rgba(0, 0, 0, 0.602), 5px -5px rgba(0, 0, 0, 0.602), 6px -6px rgba(0, 0, 0, 0.602), 7px -7px rgba(0, 0, 0, 0.602), 8px -8px rgba(0, 0, 0, 0.602);
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadowPopTrDark {
  0% {
    -webkit-box-shadow: 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602);
            box-shadow: 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602), 0 0 rgba(0, 0, 0, 0.602);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px rgba(0, 0, 0, 0.602), 2px -2px rgba(0, 0, 0, 0.602), 3px -3px rgba(0, 0, 0, 0.602), 4px -4px rgba(0, 0, 0, 0.602), 5px -5px rgba(0, 0, 0, 0.602), 6px -6px rgba(0, 0, 0, 0.602), 7px -7px rgba(0, 0, 0, 0.602), 8px -8px rgba(0, 0, 0, 0.602);
            box-shadow: 1px -1px rgba(0, 0, 0, 0.602), 2px -2px rgba(0, 0, 0, 0.602), 3px -3px rgba(0, 0, 0, 0.602), 4px -4px rgba(0, 0, 0, 0.602), 5px -5px rgba(0, 0, 0, 0.602), 6px -6px rgba(0, 0, 0, 0.602), 7px -7px rgba(0, 0, 0, 0.602), 8px -8px rgba(0, 0, 0, 0.602);
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}

/* Alerta producto agregado al carrito */

.notifySlideIn {
    animation-duration: 4s;
    animation-delay: -1s;
    animation-name: slidein;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes slidein {
    0% {
        top: -100%;
    }

    40% {
        top: 90px;
    }

    60% {
        top: 90px;
    }

    100% {
        top: -100%;
    }
}


