.containerForm {
    width: 30%;
    height: auto;
    min-width: 200px;
    background-color: #defcf9;
    border: 1px solid black;
    margin: auto;
     margin-top: 30px;
     padding: 20px;
     color: black;
}

.btnPrimary {
      background-color: black;
      border: 0;
        color: #00a4ff;
        border-radius: .25rem;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        font-size: 18px;
        padding: .8rem 5rem;
        margin: 15px 0;
        outline: none;
        width: 100%;
}

.btnPrimary:hover {
    opacity: .85;
    transition: opacity .8s ease;
}

.btnPrimary:active {
    box-shadow: #00000021 3px 3px 3px 1px;
}

