body {
  font-size: 18px;
}

.mainContainer {
  width: 100%;
  margin: 0 auto;
}

.imgLogo {
  width: auto;
  height: 50px;
  border-radius: 5px;
  margin-right: 15px;
  cursor: pointer; 
}

.hideMiPerfil {
  display: none;
  text-decoration: none;
}

.buttonTheme {
  margin-right: 20px;
  margin-top: 15px;
}

.userName {
  font-size: 15px;
}

/* Responsive */
@media only screen and (max-width: 990px) {
  .buttonTheme {
    float: right;
  }
  .userName {
    font-size: 20px;
  }
}

