.imgLogo {
  width: auto;
  height: 50px;
  border-radius: 5px;
  margin-right: 15px;
  cursor: pointer;
}

.hideMiPerfil {
  display: none;
  text-decoration: none;
}

.buttonTheme {
  margin-right: 20px;
}

/* Responsive */
@media only screen and (max-width: 990px) {
  .buttonTheme {
    float: right;
  }
}
