.row {
    width: 45vw;
}

.ArrowButton{ 
    margin: 1px;
    border: 2px solid #ffffff;
    border-radius: 12px; 
    height: 30vh;   
    transition-duration: 0.4s;
}

.ArrowButton:hover{ 
    background-color: white; 
    color: black;
}
.ArrowButton:active{ 
    color: red; 
    background-color: orange; 
}
.ArrowButtonDisabled {
    cursor: not-allowed;
    background-color: grey;
    border: 2px solid #3d3c3c;
    color: #3d3c3c;
    border-radius: 12px; 
    height: 30vh;       
}

.FlagImg{ 
    padding: 2px;
    box-shadow: 5px 5px 5px 0px rgba(216, 206, 206, 0.3); 
    overflow-clip-margin: unset;     
}

.box{
    width: 25em;     
}