/* General */

.hide {
  display: none;
}

/* Containers */

.containerBody {
  font-size: 20px;
}

.containerBody p {
  font-size: 27px;
}

.containerBody h4 {
  color: rgb(216, 109, 109);
  font-weight: bolder;
}

.cartContainer {
  overflow: auto;
  padding: 0;
  height: 350px;
}

/* Buttons  */

.buttonCart {
  cursor: pointer;
  margin-right: 20px;
  margin-top: 15px;
}

.buttonClose {
  float: right;
}

.buttonKeepBuying{
  margin-left: 30px;
}

/* Cart */

.notificationsCart {
  left: 50%;
  margin-top: 15px;
}

.titleCart {
  font-size: 25px;
  font-weight: bolder;
}

.imgCarrito {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Responsive */
@media only screen and (max-width: 422px) {
  .titleCart {
    font-size: 20px;
  }
}

@media only screen and (max-width: 355px) {
  .titleCart {
    font-size: 16px;
  }
}