/* General */

.containerBody {
  margin-top: 30px;
  font-size: 20px;
}

.hide {
  display: none;
}

.LogIn {
  margin-bottom: 40px;
}

a {
  cursor: pointer;
}

/* Buttons  */

.buttonCart {
  cursor: pointer;
  margin-right: 20px;
}

.buttonClose {
  float: right;
}

.buttonKeepBuying{
  margin-left: 30px;
}

/* Cart */

.notificationsCart {
  left: 50%;
}

.titleCart {
  font-size: 25px;
  font-weight: bolder;
}

.imgCarrito {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Loading */

.loader {
  width: 100px;
  height: 110px;
  border: 5px solid #ec9c9c;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  left: 45%;
  margin: 0 auto;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

/* Responsive */

@media only screen and (max-width: 990px) {
  .containerIconCart {
    margin: 20px 0 10px 0;
  }
}