/* General */
.titleImage {
  display: block;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 8px rgba(255, 0, 0, 0.8);
  font-weight: bolder;
  transition: all 0.3s ease-in-out;
  color: white;
}

.titleSections {
  margin: 100px 0 10px 30px;
  font-weight: bolder;
}

.hideSections {
  display: none;
}

/* Containers */
.containerSections {
  width: 100%;
  height: 400px;
  display: flex;
}

.containerImgTech {
  position: relative;

}

.containerImg {
  position: relative;
}



/* Imagenes */

.techImage {
  height: 400px;
  width: 100%;
  padding: 10px 7px 20px 30px;
  cursor: pointer;
}

.homeImage {
  height: 400px;
  width: 100%;
  padding: 10px 7px 20px 7px;
  cursor: pointer;
}

.seamImage {
  height: 200px;
  width: 100%;
  padding: 10px 30px 7px 7px;
  cursor: pointer;
}

.seamImage2 {
  height: 200px;
  width: 100%;
  padding: 7px 30px 20px 7px;
  cursor: pointer;
}

.techImage:hover, .homeImage:hover, .seamImage:hover, .seamImage2:hover {
  opacity: 40%;
}

/* Responsive */

@media only screen and (max-width: 900px) {
  .containerSections {
    flex-wrap: wrap;
  }
  .containerImg3Y4 {
    display: flex;
  }
  .techImage {
    width: 300px;
    height: 200px;
  }
  .homeImage {
    width: 300px;
    height: 200px;
  }
  .seamImage {
    width: 295px;
    height: 200px;
    padding: 0 0 0 30px;
  }
  .seamImage2 {
    width: 300px;
    height: 200px;
    padding: 0 0 0 15px;
  }
}

@media only screen and (max-width: 600px) {
  .techImage {
    width: 200px;
    height: 200px;
  }
  .homeImage {
    width: 200px;
    height: 200px;
  }
  .seamImage {
    width: 195px;
    height: 200px;
    padding: 0 0 0 30px;
  }
  .seamImage2 {
    width: 200px;
    height: 200px;
    padding: 0 0 0 15px;
  }
  .titleImage {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 420px) {
  .techImage {
    width: 150px;
    height: 200px;
  }
  .homeImage {
    width: 150px;
    height: 200px;
  }
  .seamImage {
    width: 145px;
    height: 200px;
    padding: 0 0 0 30px;
  }
  .seamImage2 {
    width: 150px;
    height: 200px;
    padding: 0 0 0 15px;
  }
  .titleImage {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 310px) {
  .techImage {
    width: 120px;
    height: 200px;
  }
  .homeImage {
    width: 120px;
    height: 200px;
  }
  .seamImage {
    width: 115px;
    height: 200px;
    padding: 0 0 0 30px;
  }
  .seamImage2 {
    width: 120px;
    height: 200px;
    padding: 0 0 0 15px;
  }
  .titleImage {
    font-size: 0.7rem;
  }
}