.detail{
    color: aqua;
}

.detailTable{    
    font-size: 120%;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    justify-content: left;
    margin-left: auto;
    margin-right: auto; 
}

.detailTable-wrapper {
    display: flex;
    justify-content: center;
  }

.bg{
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    height: 35em;
}

.tdRight{
    text-align: right;
}  
.tdLeft{
    text-align: left;
}  
.FlagImg{
    width: 40%;
    height:40%;    
    box-shadow: 5px 5px 5px 0px rgba(216, 206, 206, 0.3);   
}
.box{
    color: aqua;
}